body {
    background-color: rgb(255, 252, 242);
}

.text_left {
    text-align: "left";
}

div.titleDiv {
    height: 50px;
    position: relative;
}

h1.title {
    position: absolute;
    top: 10%;
    left: 50%; 
    transform: translate(-50%, -50%);
    text-decoration-line: underline;
    color: burlywood;
}

h2.description {
    text-align: center;
    color: darkgoldenrod;
}

.container {
    margin-top: 50px;
    margin-bottom: 100px;
}

footer {
    margin-top: 30px;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer ul li {
    margin-top: 5px;
}

a.github:hover {
    color: whitesmoke;
    background-color: cadetblue;
}

a.github {
    color: cadetblue;
}

a.code {
    color: brown;
}

a.code:hover {
    color: whitesmoke;
    background-color: brown;
}

a.university {
    color: #4682B4;
}

a.university:hover {
    color: whitesmoke;
    background-color: #4682B4;
}

.logo {
    width: 7%;
    height: 7%;
    max-width: 80px;
    max-height: 80px;
    min-width: 64px;
    min-height: 64px;
    border-radius: 50%;
}

#hello_image {
    display: flex;
    justify-content: center;
    align-items: center;

    -webkit-filter: drop-shadow(5px 5px 5px #4682B4);
    filter: drop-shadow(5px 5px 5px #4682B4);
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rotate {
    animation: rotation 20s infinite linear;
}

@media (max-width:900px) {
    #hello_image {
        width: 70%;
    }
}

@media (min-width:900px) {
    #hello_image {
        width: 40%;
    }
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}

footer {
    text-align: center;
}